.AppBarStyle {
    background-image: url("../images/minecraft-bg.jpg");
    background-position: center;
}

.AppBarButton {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.AppBarButton:hover {
    color: grey;
}

.AppBarDivider {
    background-color: white;
    margin: 20px 10px;
}

.title {
    text-decoration: none;
    flex-grow: 1;
    color: white;
}

