.TextFieldStyle {
    width: 100%;
    margin-right: 30px;
}

.ButtonStyle {
    width: 150px;
}

#searchFunctionality {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
}