.backIcon {
    width: 1.5em;
    height: 1.5em;
    padding-right: 30px;
}

#threeDView {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 800px;
    border-radius: 5px;
    margin: 15px;
    width: 80%;
}

#threeDV {
    min-height: 800px;
    max-height: 800px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#userInfo {
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 300px;
    border-radius: 5px;
    width: 20vw;
    margin: 15px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skinContainer {
    max-width: '1400px';
}

.displayFlex {
    display: flex;
}

#backButton {
    color: black;
    align-self: center;
}

#skinInfo{
    min-height: 500px;
    border-radius: 5px;
    width: 20vw;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.skinImage {
    height: auto;
    max-width: 70%;
}

.ButtonStyle {
    max-width: 300px;
    margin-bottom: 15px;
    height: 85px;
    margin: 0px 0px 15px 15px;
    width: 100%;
}

#userComments {
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 15px;
    padding: 15px;
    margin-bottom: 15px;
    display: flow-root;
}

.comment {
    border-radius: 5px;
    margin: 15px;
    width: 80%;
}

.commentButton {
    width: 20%;
    margin: 22px 0px;
}
